<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @bookmarks.first.movie.poster_url %>)">
  <%= @list.name %>
</div>


<div class="container d-flex">
  <% @bookmarks.each do |bookmark| %>
    <div class="card " style="width: 18rem;">
    <div class="card-body">
        <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="...">
        <h5 class="card-title"><%= bookmark.movie.title %></h5>
        <p class="card-text"><%= bookmark.comment %></p>
        <p class="card-text"><%= bookmark.movie.overview %></p>
        <p class="card-text"><%= bookmark.movie.rating %></p>
        <%= link_to 'Delete', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
  <%= link_to 'New Film', new_list_bookmark_path(@list) %>
<%= link_to 'All lists', lists_path %>
</div>
<%= link_to 'New Film', new_list_bookmark_path(@list) %>
<%= link_to 'All lists', lists_path %>
